<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
    <meta charset="UTF-8">
    <title>Study</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
</head>
<body>

{% extends 'base.html' %}

{% block content %}
    <h1>Study</h1>
        <a class="nav-link" href="{% url 'add_study' %}">Add Course</a>
        <a class="nav-link" href="{% url 'weekly_add' %}">Week Track</a>


{#        Create a table#}
        <table>
            <tr>
                <th>Course</th>
                <th>Hours</th>
                <th>Link to course</th>
                <th>Topic</th>
                <th>Course</th>
                <th>Date</th>
            </tr>
            {% for i in study_data %}
            <tr>
                <td>{{ i.name }}</td>
                <td>{{ i.hours }}</td>
                <td>{{ i.link_to_course }}</td>
                <td>{{ i.topic }}</td>
                <td>{{ i.date }}</td>
                <td>
                    <form action="{% url 'remove_course' i.id %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="entry_id" value="{{ i.id }}">
                        <input type="submit" value="Delete">
                </td>
            </tr>
        </table>
    {% endfor %}
        <table>
            <tr>
                <th>Date</th>
                <th>Hours </th>
                <th>Reflections</th>
            </tr>
            {% for i in weeklt_data %}
            <tr>
                <td>{{ i.date }}</td>
                <td>{{ i.hours_studied }}</td>
                <td>{{ i.reflexions }}</td>
                <td>
                    <form action="{% url 'remove_reflections' i.id %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="entry_id" value="{{ i.id }}">
                        <input type="submit" value="Delete">
                </td>
            </tr>
        </table>
    {% endfor %}


{% endblock %}
</body>
</html>